<div class="text-center">
  <h1 class="text-center">Détails du produit</h1>

  <h2 class="text-center">
    <%= @product.name %>
  </h2>

  <h3 class="text-center">
    Catégorie : <%= @product.url %>
  </h3>

  <p class="text-center">
    <%= link_to "Éditer", edit_product_path(@product), class: "btn btn-warning" %>
    <%= link_to "Delete", product_path(@product), method: :delete, class: "btn btn-danger" %>
    <%= link_to "Revenir à la liste", products_path, class: "btn btn-primary" %>
  </p>
</div>
